// Colours

$color-title: #414C5E;
$color-voice: #566074;
$color-text: #778195;
$color-checkbox: #859EFF;
$color-background: #F6F7F8;
$color-border: #F3F4F5;
$color-positive: #DAF5D6;
$color-positive-dark: #577253;
$color-negative: #EFC6C3;
$color-negative-dark: #AC212A;


// Fonts

$font-size-base: 16px;
$font-size-title: 18px;
$font-weight-regular: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$line-height-base: 22px;


// Layout

$nav-height: 69px;
$max-width: 960px;
$content-width: 768px;
$padding-base: 20px;
$margin-base: 20px;
